@import '~@angular/material/theming';
@include mat-core();

@import './theme.scss';

body {
  background-color: map-get($my-pallete, 50)
};

.container {
  margin: auto;
  max-width: 1200px;
  width: calc(100% - 100px);
  padding: 10px;
};
