@import '~@angular/material/theming';
@import 'src/assets/scss/theme.scss';
@import 'src/assets/scss/styles.scss';
@include mat-core();

.sidenav-bar {
  background-color: mat-color($primary, 500);
  color: mat-contrast($primary, 500);
  align-items: center;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.tool-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-left: mat-color($accent, 500);
  border-left-width: 5px;
  border-left-style: none;
}

.tool-button:hover {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-left: mat-color($accent, 500);
  border-left-width: 5px;
  border-left-style: solid;
}

.tool-button-selected {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: mat-color($primary, 700);
  color: mat-contrast($primary, 700);
  border-left: mat-color($accent, 500);
  border-left-width: 5px;
  border-left-style: solid;
}

mat-sidenav-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

mat-sidenav-content {
  background-color: mat-color($mat-grey, 100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
