@import '~@angular/material/theming';
@import 'src/assets/scss/theme.scss';
@import 'src/assets/scss/styles.scss';
@include mat-core();

.sidenav-bar {
  align-items: center;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 200px;
  height: 100%;
}

.tool-container {
  @extend .container;
  order: 2;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

mat-sidenav-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

mat-sidenav-content {
  background-color: map-get($mat-grey, 100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
